parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - vendor/*
    bootstrapFiles:
        - tests/Stubs/Swoole.php
    ignoreErrors:
        - '#Anonymous function has an unused use \$barrier#'